.load-enter-active,
.load-leave-active {
  transition: opacity 500ms
}
.load-enter,
.load-leave-to {
  opacity: 0
}

.portfolio-move { transition: all 100ms ease-in-out }
.portfolio-enter-active { transition: all 100ms ease-out }

.portfolio-leave-active {
  transition: all 100ms ease-in;
  position: absolute;
  z-index: 0;
}

.portfolio-enter,
.portfolio-leave-to { opacity: 0 }
.portfolio-enter { transform: scale(0.9) }


.fadeInRight-enter-active,
.fadeInRight-leave-active {
  opacity: 0;
  -webkit-transform: translate3d(2000px, 0, 0);
  transform: translate3d(2000px, 0, 0)
}

.fadeInRight-enter-to,
.fadeInRight-leave-to {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

